.App {
  text-align: center;
}
.font-family-courier-new {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.bg-size-card{
height: 250px;
background-repeat: no-repeat;
  background-size: 385px auto;
}
@media only screen and (max-width: 600px) {
  .font-small-custom {
    font-size: 1vh;
    height: 0;
  }
}
